nav {

    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: linear-gradient(to right, #a8caba 0%, #5d4157 100%);    
    padding: 0;
}
  nav a {
    margin: 0 12px;
    text-decoration: none;
  }
  navHome{
    width: 0;
    height: 0;
  }

  h1 {
    font-family: 'PT Sans Narrow', sans-serif;
    color: darkred;
    font-size: 50px;
    margin-bottom: 50px;
  }

  
  .container{
      width:100%;
      height: 30px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-content: center;
      color:rgb(212, 97, 20);
      font-family: 'PT Sans Narrow', sans-serif;
      font-size: 40px;
      margin: 0 10px 40px 10px
  

  }
  .feature-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 10px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 40px;
    color:rgb(212, 97, 20);


  }
  .feature-container a{
    text-decoration: none;
    color:rgb(212, 97, 20);

  }
  .container a {
    text-decoration: none;
    color: rgb(212, 97, 20);

  }
  
  
  
  .backgroundHome{
    background-image: url('../images/car-3075497_1920.png');
    width: 100%;
    height: 800px;
    padding: 0;
  
  }
  .fontStyle {
    color:rgb(224, 210, 54);
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 40px;
    text-align: center;
    padding: 0;

  }

  .btn {
    background-color: rgb(1, 28, 63);
    font-size: 30px;
    cursor: pointer;
    border: rgb(255, 255, 252);
    border-radius: 100%;
    margin: 40px
  }
  .btn:hover{
    background-color: rgb(63, 46, 207);
  }

  form { 
    justify-content: center;
    margin: 10px;
    font-size: 20px;
    
  }
  input{
    background-color: #9D554B;
    border-width: 5px;
    border-radius: 10%;
    margin: 10px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
    font-weight: 50px;
  }

  input:hover {
    background-color:rgb(184, 103, 66);
  }
  
  .input-item {
    font:'PT Sans Narrow', sans-serif;
    font-size: 12px;
    font-weight: 50px;
    color: rgb(238, 140, 12)
  }
  .delete-btn {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    margin: 30px
  }
  .home-background{
    background-image: url('../images/hyundai-prophecy-car-design_dezeen_2364_hero-1-852x479.jpg');
    background-size: 100%;
    height: 100%;
  }